# API Configuration
VITE_API_URL=http://localhost:3000/api/v1

# App Configuration
VITE_APP_NAME=Moto Moto Rifas

# ReCAPTCHA (opcional para desarrollo)
VITE_RECAPTCHA_KEY=6LctjKkfAAAAAAvlMbLxs_6tz_2H_jzkh0MT87V1
